body { background: #c0644a; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 28px; display: flex; }
.block-helper-0 { color: #80a8a6; font-size: 13px; margin-bottom: 5px; }
.block-uploader-1 { color: #3020fb; font-size: 18px; margin-bottom: 5px; }
.block-cart-2 { color: #96f4e1; font-size: 21px; margin-bottom: 5px; }
.block-order-3 { color: #77d1ea; font-size: 17px; margin-bottom: 5px; }
.block-sms-4 { color: #ef4054; font-size: 12px; margin-bottom: 5px; }